mixin make_thumbnail(item)
	- var banner = bannerOf(item) || "";
	if banner != ""
		link(rel="short icon", href=banner,type="image/x-icon")
	else
		link(rel="short icon", href="/images/top-image.png",type="image/x-icon")

mixin make_post(item, is_detail)
	.post.animated.fadeInDown
		- var banner = bannerOf(item) || "";
		if !is_detail
			if banner != ""
				a(href= url_for(item.path))
					.post-thumbnail
						.post-thumbnail-img(style={
							'background-image': `url('${banner}')`
						})
				.post-wrap.post-wrap-with-thumbnail
					+post_list(item, is_detail)
			else
				.post-wrap
					+post_list(item, is_detail)
			+post_footer(item, is_detail)
		else
			+post_list(item, is_detail)
			+post_footer(item, is_detail)
			
mixin make_tags_or_categories(item)
	- var items = []
	- var title = ''
	- var isTagsAndAuthorsIndex = page.type === 'tags_and_authors'
	- var isAboutUs = page.type === 'about_us'
	.post.animated.fadeInDown
		.post-content
		if isTagsAndAuthorsIndex
			- tag_items = site.tags
			//- - tag_title = __('tags')
			- authors_items = site.categories
			//- - authurs_title = __('categories')
			h1.sort_by_title= "Sort by tags"
			hr.sort_by_hr
			ul.general-ul.tag-ul.clearfix
				- tag_items.forEach(function(item) {
						- var arr_class_name = item.name.split(' ')
						- var class_name = ""
						- for(var i = 0; i < arr_class_name.length; i ++){
								if i == 0
									- class_name += arr_class_name[i]
								else
									- class_name += "-" + arr_class_name[i]
						- }
						li.tag-li
							a.tag.tag-li-detail(href=config.root + item.path, title= item.name, class= class_name)= "# " + item.name + " "
				- });
				- var li_tags = list_tags({show_count: true})
				div(style="display:none")!= li_tags
					script.
						$(document).ready(function(){
							var tag_length = $('.tag-list').children().length
							for(var i = 0; i < tag_length; i ++){
								var index = i + 1
								var tag_name = $('.tag-list .tag-list-item:nth-child(' + index + ') .tag-list-link').text()
								var class_name = tag_name.replace(" ", "-")
								var num = $('.tag-list .tag-list-item:nth-child(' + index + ') .tag-list-count').text()
								$('a.' + class_name).append("<span class='tag_count'>" + num + "</span>")
							}
						})
			h1.sort_by_title= "Sort by authors"
			hr.sort_by_hr
			ul.general-ul.author-ul
				- authors_items.forEach(function(item) {
					- var tmp = item.name.toLowerCase().split(' ')
					- var class_tmp = item.name.split(' ')
					- var png_name = ""
					- var class_name = ""
					- for(var i = 0; i < tmp.length; i ++){
							if i == 0
								- png_name += tmp[i]
								- class_name += class_tmp[i]
							else
								- png_name += "-" + tmp[i]
								- class_name += "-" + class_tmp[i]
					- }
						li.sort-user-li(class=class_name)
							img.sort-author-avatar(src= url_for("/images/avatar/" + png_name + ".png")) 
							a.user-li-title(href=config.root + item.path, title= item.name)= item.name
							// +make_name_card(item)
				- });
				- var li_cat = list_categories({show_count: true})
				div(style="display:none")!= li_cat
					script.
						$(document).ready(function(){
							var name_length = $('.category-list').children().length
							for(var i = 0; i < name_length; i ++){
								var index = i + 1
								var name = $('.category-list .category-list-item:nth-child(' + index + ') .category-list-link').text()
								name = name.replace(' ', '-')
								var num = $('.category-list .category-list-item:nth-child(' + index + ') .category-list-count').text()
								$('.' + name + ' > a.user-li-title').append("<span class='tag_count author_count'>" + num + "</span>")
							}
						})
		else if isAboutUs
			.about-us-wrap
				h3.about-us-title= "About"
					span.about-us-article-time!= "<i class='fa fa-sun-o'></i> 2018-11-02 13:51"
				h5.about-us-sub= "이 블로그는?"
				- var about_str = "이 블로그는 Data Science 중심의 지식 및 기술을 다루는 블로그이며, "
				- about_str += " 이 분야 공부를 같이 시작한 사람들이 모여서 스터디 팀을 이루어 운영되고 있습니다.<br>"
				- about_str += "<br>글은 각자 공부를 통해서 알게 된 내용이거나 트렌디한 소식을 번역하기도 합니다. 비록 "
				- about_str += "이 분야 공부를 시작한 기간이 길지 않아 부족함이 많지만, 찾아오신 분들께 도움이 되었길 바랍니다."
				- about_str += " 혹시 블로그를 이용하면서 글 내용에 오류가 있거나 부자연스러운 문장을 보신다면 댓글로 지적해주시면 정말 감사하겠습니다. :)"
				p!= about_str
				h5.about-us-sub= "구독"
				- var subscribe_str = "블로그를 구독하고 싶으신 분은 <a style='color:dodgerblue' href='https://databuzz-team.github.io/atom'>RSS</a>를 이용하시면 됩니다."
				- subscribe_str += " 무료 RSS리더인 <a style='color:dodgerblue' href='https://feedly.com/'>feedly</a>"
				- subscribe_str += "를 사용하시거나, <a style='color:dodgerblue' href='https://dayfly-workspace.slack.com/services/BDPD4FNKA'>SLACK</a>의 RSS App을 사용하셔도 됩니다."
				- subscribe_str += "<br> 아래는 팀원들 정보가 나와있으니 Github을 통해서 소통해주셔도 됩니다."
				p!= subscribe_str
				
			- authors_items = site.categories
			h3.about-us-title= "Databuzz Team Members"
			ul.general-ul.user-ul
				- authors_items.forEach(function(item) {	
						li.user-li
							+make_name_card(item)
				- });
			- var li_cat = list_categories({show_count: true})
			div(style="display:none")!= li_cat
				script.
					$(document).ready(function(){
						var name_length = $('.category-list').children().length
						for(var i = 0; i < name_length; i ++){
							var index = i + 1
							var name = $('.category-list .category-list-item:nth-child(' + index + ') .category-list-link').text()
							name = name.replace(' ', '-')
							var num = $('.category-list .category-list-item:nth-child(' + index + ') .category-list-count').text()
							$('.' + name).text(num + " Articles");
						}
					})

mixin make_name_card(item)
	//- i.fab.fa-github
	- var tmp = item.name.toLowerCase().split(' ')
	- var class_tmp = item.name.split(' ')
	- var png_name = ""
	- var class_name = ""
	- for(var i = 0; i < tmp.length; i ++){
			if i == 0
				- png_name += tmp[i]
				- class_name += class_tmp[i]
			else
				- png_name += "-" + tmp[i]
				- class_name += "-" + class_tmp[i]
	- }
	- var member = config.member_info[png_name]
	img.sort-author-avatar.avatar-about-us(src= url_for("/images/avatar/" + png_name + ".png")) 
	span.user-namecard-title= item.name
	span.user-articles-count(class=class_name)
	div.social-wrap
		if member.Github != ""
			a.about-social-icon(href=member.Github, target="__blank")
				i.fab.fa-github.social-github
		if member.Portfolio != ""
			a.about-social-icon(href=member.Github, target="__blank")
				i.fas.fa-home.social-home
		if member.LinkedIn != ""

mixin post_list(item, is_detail)
	.post-title
		h3
			if is_detail
				a= item.title
			else
				a(href= url_for(item.path))= item.title
	if is_detail
		.post-content.post-detail!= item.content
	else
		.post-content
			- var summary = item.summary || item.content
			a(href= url_for(item.path)).post-summary-a
				p.post-summary!= truncate(strip_html(summary), {length: 160})
	

mixin post_footer(item, is_detail)
	.post-footer: .meta
		.info
			i.fa.fa-sun-o
			span.date.tag-not-hover= date(item.date, 'YYYY-MM-DD')
			if theme.duoshuo || theme.disqus
				i.fa.fa-comment-o
				a(href= url_for(item.path + "#comments"))= __('Comments')
			if item.categories
				//- i.fas.fa-user-circle
				- item.categories.sort('posts').each(function(item) {	
					- var tmp = item.name.toLowerCase().split(' ')
					- var png_name = ""
					- for(var i = 0; i < tmp.length; i ++){
							if i == 0
								- png_name += tmp[i]
							else
								- png_name += "-" + tmp[i]
					- }
						// i.fas.fa-pencil-alt
						// a.tag(href=config.root + item.path, title= item.name)!= "Written by " + '<img class="post-footer-author" src="/images/avatar/' + png_name + '.png"> ' + item.name + " "
						a.tag.tag-not-hover!= "Written by " + '<img class="post-footer-author" src="/images/avatar/' + png_name + '.png"> ' + item.name + " "
				- });
			if item.tags.length >= 1
				br
				i.fa.fa-tag
				- item.tags.sort('posts').each(function(item) {
						// a.tag(href=config.root + item.path, title= item.name)= "#" + item.name + " "
						a.tag.tag-not-hover= "#" + item.name + " "
				- });
			if is_detail
				.share-to-social= "Share on "
					#sharer.sharer  
						.sharer-item(data-n='facebook')
							i.fab.fa-facebook-f
						.sharer-item(data-n='twitter')
							i.fab.fa-twitter
						.sharer-item(data-n='pinterest')
							i.fab.fa-pinterest
				
mixin make_pager()
	- var prev = page.prev_link
	- var next = page.next_link
	.pagination
		ul.clearfix
			if page.prev
				li.pre.pagbuttons
					a.btn(role="navigation",href=url_for(prev))= __('prev')
			if page.next
				li.next.pagbuttons
					a.btn(role="navigation",href=url_for(next))= __('next')

mixin postList()
	.archive
		- var year = 0;
		- var change = false;
		- var firstYear = true;
		- page.posts.each(function (item) {
			- var itemYear = date(item.date, 'YYYY') - 0;
			- change = year !== itemYear;
			- year = change ? itemYear : year;
			if change
				if firstYear
					| <div class="listing-title">
					!= year
					| </div><ul class="listing">
					- firstYear = false;
				else
					| </ul><div class="listing-title">
					!= year
					| </div><ul class="listing">
			
			.listing-item
				.listing-post
					a.listing-title-new(href= url_for(item.path), title= item.title)= item.title
					div.post-time
						i.fa.fa-sun-o
						span.date.tag-not-hover(style="margin-left: 2px;")= date(item.date, 'MM-DD')
					if item.tags.length >= 0
						div.listing-tag-div
							i.fa.fa-tag.listing-tag
							- item.tags.sort('posts').each(function(item) {
									span.tag.tag-not-hover.listing-tag= "#" + item.name + " "
							- });
					if item.categories
						//- i.fas.fa-user-circle
						- item.categories.sort('posts').each(function(item) {	
							- var tmp = item.name.toLowerCase().split(' ')
							- var png_name = ""
							- for(var i = 0; i < tmp.length; i ++){
									if i == 0
										- png_name += tmp[i]
									else
										- png_name += "-" + tmp[i]
							- }
								// i.fas.fa-pencil-alt
								// a.tag(href=config.root + item.path, title= item.name)!= "Written by " + '<img class="post-footer-author" src="/images/avatar/' + png_name + '.png"> ' + item.name + " "
								a.tag.tag-not-hover.tag-on-archive!= '<img class="post-footer-author" src="/images/avatar/' + png_name + '.png"> ' + item.name + " "
						- });
						
		- })
