.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current()!= '<i class="fas fa-home nav-icon nav-current"></i>' +  __('Home')					
      else
        a(href="/")!= '<i class="fas fa-home nav-icon"></i>' +  __('Home')
    li
      if is_archive()
        a.current()!= '<i class="fas fa-archive nav-icon nav-current"></i>' + __('Archives')
      else
        a(href="/archives")!= '<i class="fas fa-archive nav-icon"></i>' + __('Archives')
    li
      if is_current('tags-and-authors')
        a.current()!= '<i class="fas fa-user-tag nav-icon nav-current"></i>' + __('Tags_And_Authors')			
      else
        a(href="/tags-and-authors")!= '<i class="fas fa-user-tag nav-icon"></i>' + __('Tags_And_Authors')
    li
      if is_current('about-us')
        a.current()!= '<i class="fas fa-building nav-icon nav-current"></i>' + __('About_Us')			
      else
        a(href="/about-us")!= '<i class="fas fa-building nav-icon"></i>' + __('About_Us')
    //- li
    //-   if is_current('links')
    //-     a.current(href="/links")= __('Links')					
    //-   else
    //-     a(href="/links")= __('Links')		
  .information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left.back-btn-icon(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left.back-btn-icon(onclick="window.history.go(-1)",style="display:none;") 
    .avatar
      img(src=theme.homeBtn)
